body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  width: 100%;
  padding: 20px;
}
.main-board {
  flex: 3;
  background: url('./rooms/lotus-design-n-print-8qNuR1lIv_k-unsplash.jpg') center/cover no-repeat;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.textures {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}
.texture {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.texture:hover {
  transform: scale(1.05);
}
