body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  width: 100%;
  padding: 20px;
}
.main-board {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 10px;
}
.room-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
#room-upload-btn {
  margin-top: 10px;
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#room-upload-btn:hover {
  background-color: #0056b3;
}
.textures {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}
.texture {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.texture:hover {
  transform: scale(1.05);
}
.upload-texture {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: gray;
  background-color: #ddd;
  cursor: pointer;
}
.upload-texture:hover {
  background-color: #ccc;
}
